<header>
  <div class="container">
    <div class="content flex flex__between flex__aligncenter">
      <h1>
        <a class="logo" href="" title="logo">
          <img src="https://cdn.iconscout.com/icon/free/png-512/google-shopping-2038771-1721668.png" alt="Logo">
        </a>
      </h1>
      <ul class="menu flex flex__between flex__aligncenter">
        <li>
          <a href="">Sobre</a>
        </li>
        <li>
          <a href="">Preços</a>
        </li>
        <li>
          <a href="">Contato</a>
        </li>
        <li class="login">
          <a [routerLink]="['/login']" class="btn">Login</a>
        </li>
      </ul>
    </div>
  </div>
</header>
