<div class="menu">
  <h1 class="logo">
    <img src="../../../assets/images/simplelogo.png" alt="">
  </h1>

  <ul class="menu__list">
    <li class="menu__list--item activate">
      <i class="fas fa-tachometer-alt"></i>
      <a href="http://">Dashboard</a>
    </li>
    <li class="menu__list--item">
      <i class="fas fa-book"></i>
      <a href="">Report</a>
    </li>
    <li class="menu__list--item">
      <i class="fas fa-book"></i>
      <a href="">Report</a>
    </li>
    <li class="menu__list--item">
      <i class="fas fa-book"></i>
      <a href="">Report</a>
    </li>
  </ul>
</div>
