<header class="header">
    <div class="header__content">
      <div class="title__page">
        <h1 class="title">Dashboard Overview</h1>
        <span class="text">Today, 10th December 2020</span>
      </div>

      <div class="notify__page">
        <div class="notify">
          <i class="fas fa-search"></i>
        </div>
        <div class="notify">
          <i class="far fa-bell"></i>
          <span class="notify__number">3</span>
        </div>
        <div class="perfil">
          <figure>
            <img src="../../../../assets/images/perfil.jpg" alt="">
          </figure>
          <span class="status online"></span>
        </div>
      </div>
    </div>
</header>
