<header class="header">
  <div class="container">
    <div class="content__header flex flex__between flex__aligncenter">

      <div class="header__search">
        <form action="" method="post">
          <div class="form__control">
            <i class="fas fa-search"></i>
            <input type="search" name="" id="" placeholder="Buscar">
          </div>
        </form>
      </div>

      <div class="user flex flex__aligncenter">
        <div class="user__message icon icon__circle">
          <i class="fas fa-envelope"></i>
        </div>

        <div class="user__alerts icon icon__circle">
          <i class="fas fa-bell"></i>
        </div>

        <div class="user__perfil flex flex__aligncenter">
          <figure>
            <img src="https://lh3.googleusercontent.com/ogw/ADGmqu9HyBZXq8TG3jYNlfMGgT3tv1DtepP4bOPVTzpTzg=s83-c-mo" alt="">
          </figure>

          <div class="perfil__text">
            <strong class="text">Olá</strong>
            <span>Usuário</span>
          </div>

          <i class="fas fa-angle-down"></i>
        </div>
      </div>

    </div>
  </div>
</header>
