<div class="card__row">
  <div class="card">
    <div class="card__header">
      <div class="card__icon">
        <i class="fas fa-shopping-basket"></i>
      </div>
      <div class="card__percent">
        <div class="card__percent--icon">
          <i class="fas fa-percentage"></i>
        </div>
        <strong class="card__percent--number">+32.40<small>%</small></strong>
      </div>
    </div>
    <strong class="card__value">R$ 40.000,00</strong>
    <span class="text">Total de vendas</span>
  </div>

  <div class="card">
    <div class="card__header">
      <div class="card__icon">
        <i class="fas fa-chart-pie"></i>
      </div>
      <div class="card__percent">
        <div class="card__percent--icon">
          <i class="fas fa-percentage"></i>
        </div>
        <strong class="card__percent--number">+32.40<small>%</small></strong>
      </div>
    </div>
    <strong class="card__value">20.000</strong>
    <span class="text">Total de produtos</span>
  </div>

  <div class="card">
    <div class="card__header">
      <div class="card__icon">
        <i class="fas fa-users"></i>
      </div>
      <div class="card__percent">
        <div class="card__percent--icon">
          <i class="fas fa-percentage"></i>
        </div>
        <strong class="card__percent--number">+32.40<small>%</small></strong>
      </div>
    </div>
    <strong class="card__value">200</strong>
    <span class="text">Total de usuários</span>
  </div>

  <div class="card balance">
    <div class="card__header">
      <strong>Resumo do Saldo</strong>

      <button class="more">
        <i class="fas fa-plus"></i>
      </button>
    </div>

    <div class="card__footer">
      <div class="credit__card">
        <strong>Gopay Balance</strong>
        <span class="text">Dec 10, 2020</span>

        <strong>** 8765</strong>
      </div>
      <div class="card__footer--value">
        <strong>R$ 200,00</strong>
        <span class="text">Saldo ativo</span>
      </div>
    </div>
  </div>
</div>
