<section class="login">
  <div class="container">
    <div class="login__content">
      <figure>
        <img src="https://cdn.iconscout.com/icon/free/png-512/google-shopping-2038771-1721668.png" alt="Logo">
      </figure>
      <form action="" method="post">
        <strong>Faça login com a sua conta</strong>
        <div class="form__control">
          <i class="far fa-user"></i>
          <input type="mail" placeholder="Usuário">
        </div>
        <div class="form__control">
          <i class="fas fa-key"></i>
          <input type="password" placeholder="Senha">
        </div>
        <button type="submit" class="btn">Login</button>
      </form>
      <span class="register">Ainda não possui conta? <a [routerLink]="['/register']">Registre-se</a></span>
    </div>
  </div>
</section>
