.login {


    &__content {
        display: flex;
        height: 100vh;
      &--left {
        background-image: linear-gradient(to right top, #0b6bfb, #1259e5, #1447cf, #1436b9, #1124a4);
        height: 100vh;
        width: 100%;
      }
      &--right {
        background-color: #fff;
        width: 80%;
        padding: 60px;
      }
      .logo {
        width: 100%;
        max-width: 130px;
        margin-bottom: 80px;
        img {
          width: 100%;
        }
      }

      form {
        margin-top: 90px;
        margin-bottom: 50px;
        input{
          max-width: 450px;
        }
        .btn{
          max-width: 450px;
        }
      }
    }
  }
