<section class="home">
  <div class="container">
    <div class="home__content">
      <div class="home__content--box">
        <div class="home__content--box-form">
          <strong class="title">Bem vindo</strong>
          <span class="text">Faça login ou cadastre-se</span>

          <div class="login">
            <form action="">
              <div class="form__control">
                <label for="user">Usuário</label>
                <input id="user" type="text">
              </div>
              <div class="form__control">
                <label for="pass">Senha</label>
                <input id="pass" type="password">
              </div>
              <button type="submit">Login</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>