<section class="home">
  <div class="container">
    <div class="home__content">
      <div class="home__content--box">
        <div class="home__content--box-form">
          <strong class="title">Bem vindo</strong>
          <span class="text">Faça login ou cadastre-se</span>

          <div class="login flex">
            <button class="btn">Faça login com Facebook</button>
            <button class="btn">Faça login com Google</button>  
          </div>
          
          <button class="btn">Cadastre-se</button>
        </div>
      </div>
    </div>
  </div>
</section>