<section class="register">
  <div class="register__content">
    <div class="register__content--left"></div>
    <div class="register__content--right">
      <figure class="logo">
        <img src="../../../assets/images/logo.png" alt="Logo">
      </figure>

      <strong class="title">Sign In</strong>
      <span class="text">Crie sua conta agora mesmo</span>

      <form (ngSubmit)="onRegister()" #form="ngForm">
        <div class="form__control">
          <label for="name">Nome</label>
          <input type="text" id="name" [(ngModel)]="account.name" name="firstName" required />
        </div>
        <div class="form__control">
          <label for="email">Email</label>
          <input type="mail" id="email" [(ngModel)]="account.email" name="email" required />
        </div>
        <div class="form__control">
          <label for="pass">Senha</label>
          <input type="password" id="pass" [(ngModel)]="account.password" name="password" required />
        </div>
        <div class="form__control">
          <label for="confirmpass">Confirme sua senha</label>
          <input type="password" id="confirmpass" [(ngModel)]="account.confirmPassword" name="confirmPassword" required />
        </div>
        <button type="submit" [disabled]="form.form.invalid" class="btn">Registrar</button>
      </form>
      <span class="text">Já possui uma conta? <a [routerLink]="['/login']">Faça login</a> </span>
    </div>
  </div>
  <span class="success__top" >Usuário cadastrado com sucesso</span>
</section>
