.home {
  width: 100%;
  &__content {
    display: flex;
    align-items: center;
    height: 100vh;
    &--text{
      width: 100%;
      max-width: 600px;
      .btn{
        max-width: 200px;
      }
      .social{
        width: 100%;
        max-width: 300px;
        margin: 40px 0 0;
        .icon{
          a{
            i{
              font-size: 22px;
              color: #8d8b8b;
            }
          }
        }
      }
    }
    &--image {
      width: 100%;
      max-width: 580px;
      figure {
        img {
          width: 100%;
        }
      }
    }
  }
}
