.main{
  background: #f1f5fc;
  padding: 10px 10px 0 10px;
  .content{
    display: flex;
    justify-content: space-between;
    .page{
      background-color: #fcfdfe;
      box-shadow: 1px 1px 20px 20px rgb(11 107 251 / 0.04);
      padding: 30px 30px 5px;
      width: 85%;
      height: 95vh;
      border-radius: 30px;
      overflow: hidden;

      .cards__row{
        margin-top: 60px;
      }
    }
  }
  app-card{
    width: 100%;
    max-width: 23%;
  }
  app-navigation{
    width: 100%;
    max-width: 15%;
  }
}
